@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/font-awesome/css/font-awesome.css';

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
